#table{
    font-family: "Inter", sans-serif;
}

.table-head{
    padding: 0px;
}

.border-color-pink-1{
    border: 1px solid #EE7E7E;
    padding: 0px;
}

.bg-color-pink-1{
    background-color: #EE7E7E;
    
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
}
.bg-color-pink-1:hover{
    background-color: #eb5858;
}

.bg-color-green-1{
    background-color: #7eeea9;

    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
}
.bg-color-green-1:hover{
    background-color: #27ee73;
}

table_head{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
}

table_child{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    
    display: flex;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
}

h2{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

hr{
    margin: auto;
    width: 25%;
}