* {
padding: 0;
margin: 0;
font-family: "Inter", sans-serif;
box-sizing: border-box;
}

body {
margin: 0px;
width: 100%;
justify-content: center;
align-items: center;
place-items: center;
background: linear-gradient(to bottom, #f9a0ff, #eff1ff);
overflow-y: auto;
overflow-x: hidden;
height: auto;
}

.calendar {
height: 500px;
width: 420px;
background-color: white;
border-radius: 25px;
overflow: hidden;
padding: 35px 50px 0px 50px;
display: inline grid;
margin: 30px;
}

.calendar {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calendar-header {
background: #e87cef;
display: flex;
justify-content: space-between;
border-radius: 7px;
align-items: center;
font-weight: 700;
color: #ffffff;
padding: 10px;
/* width: 95%; */
margin-left: 20px;
margin-right: 20px;
}

.calendar-body {
padding: 10px;
}

.calendar-week-days {
display: grid;
grid-template-columns: repeat(7, 1fr);
font-weight: 600;
cursor: pointer;
color: rgb(104, 104, 104);
}

.calendar-week-days div:hover {
color: black;
transform: scale(1.2);
transition: all .2s ease-in-out;
}

.calendar-week-days div {
display: grid;
place-items: center;
color: #e87cef;
height: 0px;
}

.calendar-days {
display: grid;
grid-template-columns: repeat(7, 1fr);
gap: 2px;
color: #0A0921;
}

.calendar-days div {
width: 37px;
height: 33px;
display: flex;
align-items: center;
justify-content: center;
padding: 5px;
position: relative;
cursor: pointer;
animation: to-top 1s forwards;
}

.month-picker {
padding: 5px 10px;
border-radius: 10px;
cursor: pointer;
}

.year-picker {
display: flex;
align-items: center;
}

.year-change {
height: 0px;
width: 30px;
border-radius: 50%;
display: grid;
place-items: center;
margin: 0px 10px;
cursor: pointer;
}

.year-change:hover {
background-color: #e87cef;
transition: all .2s ease-in-out;
transform: scale(1.12);
}

.calendar-footer {
padding: 10px;
display: flex;
justify-content: flex-end;
align-items: center;
}

#year:hover {
cursor: pointer;
transform: scale(1.2);
transition: all 0.2 ease-in-out;
}

.calendar-days div span {
position: absolute;
}

.calendar-days div:hover {
transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
background-color: #fbc7d4;
border-radius: 20%;
color: #f8fbff;
}

.calendar-days div.current-date {
color: #f8fbff;
background-color: #e87cef;
border-radius: 20%;
}

.month-list {
position: relative;
left: 0;
top: -130px;
background-color: #fde3ff;
color: #151426;
display: grid;
grid-template-columns: repeat(3, auto);
gap: 5px;
border-radius: 20px;
}

.month-list>div {
display: grid;
place-content: center;
margin: 5px 10px;
transition: all 0.2s ease-in-out;
}

.month-list>div>div {
border-radius: 15px;
padding: 10px;
cursor: pointer;
}

.month-list>div>div:hover {
background-color: #e87cef;
color: #f8fbff;
transform: scale(0.9);
transition: all 0.2s ease-in-out;
}

.month-list.show {
visibility: visible;
pointer-events: visible;
transition: 0.6s ease-in-out;
animation: to-left .71s forwards;
}

.month-list.hideonce {
visibility: hidden;
}

.month-list.hide {
animation: to-right 1s forwards;
visibility: none;
pointer-events: none;
}

.date-time-formate {
height: 0px;
width: 100%;
font-family: Dubai Light, Century Gothic;
position: relative;
display: flex;
top: 50px;
justify-content: center;
align-items: center;
}

.day-text-formate {
font-family: Microsoft JhengHei UI;
font-size: 1.4rem;
padding-right: 5%;
border-right: 3px solid #e87cef;
}

.date-time-value {
display: block;
position: relative;
text-align: center;
padding-left: 5%;
}

.time-formate {
font-size: 1.5rem;
}

.time-formate.hideTime {
animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime {
animation: hidetime 1.5s forwards;
}

.date-formate.hideTime {
animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime {
animation: showtime 1s forwards;
}

.time-formate.showtime {
animation: showtime 1s forwards;
}

.date-formate.showtime {
animation: showtime 1s forwards;
}

@keyframes to-top {
0% {
    transform: translateY(0);
    opacity: 0;
}

100% {
    transform: translateY(100%);
    opacity: 1;
}
}

@keyframes to-left {
0% {
    transform: translatex(230%);
    opacity: 1;
}

100% {
    transform: translatex(0);
    opacity: 1;
}
}

@keyframes to-right {
10% {
    transform: translatex(0);
    opacity: 1;
}

100% {
    transform: translatex(-150%);
    opacity: 1;
}
}

@keyframes showtime {
0% {
    transform: translatex(250%);
    opacity: 1;
}

100% {
    transform: translatex(0%);
    opacity: 1;
}
}

@keyframes hidetime {
0% {
    transform: translatex(0%);
    opacity: 1;
}

100% {
    transform: translatex(-370%);
    opacity: 1;
}
}

/* ========================= */
/* ========================= */
/* ========================= */
/* My Code */

.select-hour{
    height: 30rem;
    background-color: white;
    border-radius: 25px;
    overflow: auto;
    padding: 35px 50px 0px 50px;
    display: inline grid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px;
}

.select-hour-header{
    background: #e87cef;
    z-index: 1;
    height: 50px;
    border-radius: 7px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.hasil {
    position: relative;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    background-color: white;
    border-top: 1px solid #ccc;
    border-radius: 15px 15px 0px 0px; 
    padding: 1rem;
    box-sizing: border-box;
}

#buatJadwalTreatment div{
    margin: 5px;
}

#buatJadwalTreatment h5{
    background-color: #e87cef;
    color: white;
    padding: 16px;
    border-radius: 5px;
}

#daftar-jam-booking{
    display: flex;
    justify-content: center;
    border-radius: 7px;
    align-items: center;
    font-weight: 700;
    color: #000000;
    padding: 10px;
    /* margin-top: -130px; */
    margin-bottom: 25%;
}

.form-control:focus{
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #fc86fe;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(229, 13, 253, 0.25);
    animation-duration: 2s;
    animation-name: up-down;
}

@keyframes up-down {
    0%{
        transform: translateY(0px);
        border-top-left-radius: 20px;
    }
    50%{
        transform: translateY(-3px);
        border-bottom-right-radius: 20px;
    }
    100%{
        transform: translateY(0px);
    }
}

.btn:hover{
    animation-duration: 1s;
    animation-name: bergelembung;
    color: white;
}

@keyframes bergelembung {
	0% {
		border-top-right-radius: 15px;
		/* text-shadow: 2px 2px 5px burlywood; */
	}
	15% {
		transform: translateY(5px);
		transform: rotateZ(1.2deg);
	}
	25% {
		border-top-left-radius: 30px;
	}
	35% {
		transform: translateX(5px);
		transform: rotateZ(-1.2deg);
	}
	50% {
		border-bottom-right-radius: 30px;
	}
	65% {
		transform: translateY(-5px);
		transform: rotateZ(1.2deg);
	}
	75% {
		border-bottom-left-radius: 30px;
	}
	85% {
		transform: translateX(-5px);
		transform: rotateZ(-1.2deg);
	}
}

@keyframes cantBeClcik {
    0%{
        transform: translateX(5px);
    }
    20%{
        transform: translateX(-5px);
    }
    40%{
        transform: translateX(5px);
    }
    60%{
        transform: translateX(-5px);
    }
    80%{
        transform: translateX(5px);
    }
}