.font-katibeh{
    color: #000;
    font-family: Katibeh;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font-poppins{
    color: #000;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a{
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}
#logo{
    justify-content: right;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 0px;
}

@media only screen and (max-width: 900px) {
    .footer{
        flex-direction: column-reverse;
    }
    .garis{
        display: none;
    }
    .element{
        text-align: center;
    }
    #logo{
        justify-content: center;
        margin: 0px;
        margin-top: 16px;
    }
    .pembungkus{
        padding-left: 0px;
        padding-right: 0px;
    }
    .center{
        padding-left: 20px;
        padding-right: auto;
    }
}